.App {
  text-align: center;
  background-color: gray;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.header {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.addUser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  border: 0.1rem solid;
  margin: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

label {
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.allUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.userDetails {
  border: 0.1rem solid;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.inputField {
  margin: 0 1rem;
}
